.dark-solid-button {
  margin: 0px;
  padding: 0px;

  border: none;

  width: 121px;
  height: 25px;

  border-radius: 2px;

  display: flex;
  align-items: center;
  justify-content: center;

  /* use before pseudo-element for background */
  background-color: transparent;
  position: relative;
  isolation: isolate;

  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  color: white;

  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;

  pointer-events: auto;
}

.dark-solid-button::before {
  content: "";

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  border-radius: 2px;
  background-color: #0d0d82;
  box-shadow: 0 3px 3px rgba(213, 213, 255, 0.53);

  z-index: -1;
}

.dark-solid-button:focus {
  outline: none;
}

.dark-solid-button:hover::before {
  transform: scale(1.05);
  transition: transform 0.1s;
}

.dark-solid-button:active::before {
  transform: scale(1);
  transition: transform 0s;
}

.tooltip {
  position: absolute;
  bottom: -6px;
  left: 132px;

  height: 36px;
  padding: 0px 20px 0px 20px;

  border-radius: 5px;

  background-color: black;
  box-shadow: 0px 0px 6px #d9d9e724;

  animation: tooltip-fade-in 1.5s;

  pointer-events: none;

  display: none;
}

.container:hover .tooltip {
  display: block;
}

@keyframes tooltip-fade-in {
  0% {
    opacity: 0;
  }
  66.6% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tooltip:before {
  content: "";

  border-style: solid;
  border-color: transparent black transparent transparent;
  border-width: 7px 19px;

  position: absolute;
  bottom: 11px;
  right: 100%;
}

.tooltip-text-container {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
}

.tooltip-text {
  margin: 0px;
  padding: 0px;

  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  color: white;

  text-wrap: nowrap;

  user-select: none;
  -webkit-user-select: none;

  pointer-events: none;
}
