.flip-label {
  margin-right: 1px;

  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  color: black;
}

.flip-section {
  margin-top: 22px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
