.flip-label {
  margin: 0px 1px 0px 0px;

  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  color: black;

  user-select: none;
  -webkit-user-select: none;
}

.flip-section {
  margin-top: 36px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
