@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.layout-controls {
  margin-top: 30px;

  display: flex;
  flex-direction: column;
}

.layout-form {
  position: absolute;

  top: 54px;
  left: 66px;

  width: 313px;
  height: 558px;

  overflow: auto;

  border: 1px solid #cacae4;
  border-radius: 10px;

  padding: 25px 0px 50px 31px;

  background-color: black;
}

.no-bases-selected .layout-controls {
  display: none;
}
