.shift-button {
  margin-left: 29px;

  border: 1px solid #cdcde0;
  border-radius: 3px;

  outline: none;

  width: 34px;
  height: 34px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: black;

  cursor: grab;

  pointer-events: auto;
}

.shift-button:hover {
  background-color: #353539;
}

.shift-button:active {
  background-color: #353539;

  border-color: yellow;

  cursor: grabbing;
}

.shift-button:active path {
  stroke: yellow;
  fill: yellow;
}
