.shift-button {
  margin-left: 29px;

  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 10px #d4d4dd;

  outline: none;

  width: 32px;
  height: 32px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: black;

  cursor: grab;

  pointer-events: auto;
}

.shift-button:hover {
  background-color: #404044;
}

.shift-button:active {
  background-color: #77777d;

  cursor: grabbing;
}
